node_modules
.env
logs
package.lock.json
package-lock.json
yarn.lock
*.zip
uploads

# Google Cloud Storage service account key
config/gcs-service-account.json
**/gcs-service-account.json
*.json
!package.json
!tsconfig.json
docs
UPLOAD_IMPLEMENTATION_SUMMARY.md

//change to deploy
